/ ========= SEARCH BAR =========
%header.search-bar
  .grid--middle
    .grid__item.palm--one-whole.lap--one-third.desk--one-third
      %h1.search-bar__title Koombea Contacts
    .grid__item.palm--one-whole.lap--one-third.desk--one-third
      %input.search-bar__input{:placeholder => "Buscar...", :type => "text"}
/ ========= POP CONTACT ADD =========
.pop-contact.js-pop-expanded
  %p Nuevo contacto añadido
.address-book{:"ng-controller" => "AddressCtrl as address"} 
  / ========= FAVORITES =========
  %h2.address-book__title Favoritos
  %table.contacts
    %tbody.js-favorites
      %tr.contact__row{"contact-row" => "", :"contact" => "contact", :"edit" => "address.updateContact", :"toggle" => "address.toggleFavorite", :"ng-repeat" => "contact in address.contacts | filter: {favorite: true}"}
  / ========= ALL =========
  %h2.address-book__title Todos
  %table.contacts
    %tbody.js-allContacts
      %tr.contact__row{"contact-row" => "", :"contact" => "contact", :"edit" => "address.updateContact", :"toggle" => "address.toggleFavorite", :"ng-repeat" => "contact in address.contacts | orderBy: 'first_name'"}
  %span.add-contact{:"ng-click" => "address.addNewContact()"} +
  / ========= CONTACT MODAL =========
  %contact-modal{:"status" => "address.modalStatus", :"contact" => "address.currentContact", :"delete" => "address.deleteContact", :"update" => "address.updateContacts", :"toggle" => "address.toggleFavorite"}





