$orange: #F4511E;
$skin: #FBC1AC;
$gray-title: #9B9B9B;
$black: #222222;
$dark-gray: #444444;
$gray-border: #EFEFEF;
$blue: #55ACEE;
$dark-gray-icon: #B6B6B6;
$light-gray-icon: #C7C7C7;
$yellow: #F6B500;                   
$green: #00BCD4;
$cream: #E5E5E5;
$gray-button: #BFBFBF;
$border-input: #979797;
$highlight-border: #62C6FC;
